.exercise_stats
    &-page
        width: 100%
        position: absolute
        left: 50%
        transform: translate(-50%, 0)
        padding: 10px
        p
            margin: 0
    &-table 
        background-color: #f4eddf
        padding: 10px
        border-radius: 5px
        font-size: 10px
        overflow-x: auto
        width: 100%
        &::-webkit-scrollbar
            display: none
        th
            border-right: 1px solid gray
            font-weight: 200
            text-align: center
        tr
            width: 100%