.training-card
    position: absolute
    top: 20px
    width: 100%
    background-color: #f4eddf
    margin: 10px 0
    border-radius: 10px
    max-width: 500px 
    opacity: 0
    transition: 0.3s all
    animation-direction: backwards
    &-header
        border-radius: 10px 10px 0 0px
        padding: 5px
        background-color: #D24545
        display: flex
        justify-content: space-between
        h4
            display: inline
            margin: 5px 0
            color: white
    &-content
        padding: 5px
        max-height: 100%
        h5
            margin: 5px 0
    &-day 
        border-bottom: 1px solid gray
        h5
            text-transform: capitalize
        p
            margin: 0
    &.active
        background-color: #fff
        opacity: 1
    &-edit
        color: white
        background-color: rgba(0,0,0,0)
        font-weight: bold
        width: 50px
        text-transform: uppercase
        border-radius: 10px
        border: none
        cursor: pointer
        text-decoration: underline
    &-add-exercise-button
        border: none
        background-color: rgba(0,0,0,0)
        cursor: pointer
    &-remove-exercise-button
        border: none
        background-color: rgba(0,0,0,0)
        cursor: pointer
    &-editing
        max-width: 500px
    &-input
        &-dropdown
            background-color: #f4eddf
            border: 1px solid #ccc
            border-radius: 10px
            padding: 5px
            position: absolute
            transition: 0.3s all
.training-card.editing
    animation: shrink 1s
    overflow: hidden

@keyframes shrink
    from
        max-height: 20%
    to 
        max-height: 50%